/* COLOR MIXINS
--------------------------------------------- */

@mixin text-colors {
  .text-default {
    color: $text-color-default;
  }
  .text-light {
    color: $text-color-light;
  }
  .text-lighter {
    color: $text-color-lighter;
  }
  .text-primary {
    color: $text-color-primary;
  }
  .text-inverse {
    color: $text-color-inverse;
  }
  .text-success {
    color: $text-color-success;
  }
  .text-warning {
    color: $text-color-warning;
  }
  .text-error {
    color: $text-color-error;
  }
}

@mixin background-colors {
  .background-default {
    background-color: $background-color-default;
  }
  .background-light {
    background-color: $background-color-light;
  }
  .background-lighter {
    background-color: $background-color-lighter;
  }
  .background-medium {
    background-color: $background-color-medium;
  }
  .background-dark {
    background-color: $background-color-dark;
  }
  .background-primary {
    background-color: $background-color-primary;
  }
  .background-primary {
    background-color: $background-color-primary;
  }
  .background-success {
    background-color: $background-color-success;
  }
  .background-warning {
    background-color: $background-color-warning;
  }
  .background-error {
    background-color: $background-color-error;
  }
}

@mixin border-colors {
  .border-default {
    border-color: $border-color-default;
  }
  .border-light {
    border-color: $border-color-light;
  }
  .border-active {
    border-color: $border-color-active;
  }
  .border-primary {
    border-color: $border-color-primary;
  }
  .border-success {
    border-color: $border-color-success;
  }
  .border-warning {
    border-color: $border-color-warning;
  }
  .border-error {
    border-color: $border-color-error;
  }
}
