/* COLOR MIXINS
--------------------------------------------- */

@mixin font-sizes {
  .base {
    font-size: $font-size-base;
  }
  .large {
    font-size: $font-size-large;
  }
  .x-large {
    font-size: $font-size-x-large;
  }
  .xx-large {
    font-size: $font-size-xx-large;
  }
  .xxx-large {
    font-size: $font-size-xxx-large;
  }
  .xxxx-large {
    font-size: $font-size-xxxx-large;
  }
  .small {
    font-size: $font-size-small;
  }
  .x-small {
    font-size: $font-size-x-small;
  }
  .xx-small {
    font-size: $font-size-xx-small;
  }
}
