/* Main Styles
 *
 * Include this only once in your outermost component (ex. App.vue)
 *
--------------------------------------------- */

@import "./shared";
@import "./fonts/lato";

html, body {
  font-size: $font-size-body;
  font-family: $font-family-text;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color-default;
  margin: 0;
  padding: 0;
}

pre, code {
  font-family: $font-family-code;
}

a {
  text-decoration: none !important;
  color: $text-color-link;

  &:hover,&:active {
    color: $text-color-link-active;
  }
}
