.ds-page-title {
  @include reset;
  padding: $space-large 0;
  color: $text-color-primary;
  @include pattern($background-color-lighter, $background-color-medium);

  @media #{$media-query-medium} {
    padding: $space-x-large 0;
  }
}

.ds-page-title-highlight {
  color: $text-color-primary-inverse;
  @include pattern($background-color-primary-active, $background-color-primary);
}