/* COLOR MIXINS
--------------------------------------------- */

@mixin text-colors {
  .text-default, .text-dark {
    color: $text-color-default;
  }
  .text-light {
    color: $text-color-light;
  }
  .text-lighter {
    color: $text-color-lighter;
  }
  .text-primary {
    color: $text-color-primary;
  }
  .text-inverse {
    color: $text-color-inverse;
  }
  .text-success {
    color: $text-color-success;
  }
  .text-warning {
    color: $text-color-warning;
  }
  .text-danger {
    color: $text-color-danger;
  }
}

@mixin background-colors {
  .background-default {
    background-color: $background-color-default;
  }
  .background-light {
    background-color: $background-color-light;
  }
  .background-lighter {
    background-color: $background-color-lighter;
  }
  .background-medium {
    background-color: $background-color-medium;
  }
  .background-dark {
    background-color: $background-color-dark;
  }
  .background-primary {
    background-color: $background-color-primary;
  }
  .background-success {
    background-color: $background-color-success;
  }
  .background-warning {
    background-color: $background-color-warning;
  }
  .background-danger {
    background-color: $background-color-danger;
  }
}

@mixin background-hover-colors {
  .background-lighter {
    &:hover, &.hover {
      background-color: $background-color-default;
    }
  }
  .background-light {
    &:hover, &.hover {
      background-color: $background-color-lighter;
    }
  }
  .background-medium {
    &:hover, &.hover {
      background-color: $background-color-medium-active;
    }
  }
  .background-dark {
    &:hover, &.hover {
      background-color: $background-color-dark-active;
    }
  }
  .background-primary {
    &:hover, &.hover {
      background-color: $background-color-primary-active;
    }
  }
  .background-success {
    &:hover, &.hover {
      background-color: $background-color-success-active;
    }
  }
  .background-warning {
    &:hover, &.hover {
      background-color: $background-color-warning-active;
    }
  }
  .background-danger {
    &:hover, &.hover {
      background-color: $background-color-danger-active;
    }
  }
}

@mixin border-colors {
  .border-default {
    border-color: $border-color-default;
  }
  .border-light {
    border-color: $border-color-light;
  }
  .border-lighter {
    border-color: $border-color-lighter;
  }
  .border-active {
    border-color: $border-color-active;
  }
  .border-primary {
    border-color: $border-color-primary;
  }
  .border-success {
    border-color: $border-color-success;
  }
  .border-warning {
    border-color: $border-color-warning;
  }
  .border-danger {
    border-color: $border-color-danger;
  }
}