/* FONT MIXINS
--------------------------------------------- */

@mixin font-sizes {
  .font-size-base {
    font-size: $font-size-base;
  }
  .font-size-large {
    font-size: $font-size-large;
  }
  .font-size-x-large {
    font-size: $font-size-x-large;
  }
  .font-size-xx-large {
    font-size: $font-size-xx-large;
  }
  .font-size-xxx-large {
    font-size: $font-size-xxx-large;
  }
  .font-size-xxxx-large {
    font-size: $font-size-xxxx-large;
  }
  .font-size-small {
    font-size: $font-size-small;
  }
  .font-size-x-small {
    font-size: $font-size-x-small;
  }
  .font-size-xx-small {
    font-size: $font-size-xx-small;
  }
}