$logo-color-base: $text-color-primary;

.ds-logo {
  @include reset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $logo-color-base;
}

.ds-logo-svg {
  width: 130px;
  height: auto;
  fill: currentColor;
}