.ds-card {
  @include reset;
  display: flex;
  flex-direction: column;
  background-color: $background-color-base;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-x-small, $box-shadow-base;
  height: 100%;
}

.ds-card-image {
  overflow: hidden;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.ds-card-header {
  @include reset;
  background-color: $background-color-soft;
  padding: $space-small;
}

.ds-card-content {
  @include reset;
  padding: $space-small;
  flex: 1 1 0;

  &:last-child:not(:only-child) {
    padding-bottom: $space-large;
  }
}

.ds-card-footer {
  @include reset;
  padding: $space-small;
  border-top: $border-size-base solid $border-color-softer;
}