.ds-card {
  @include reset;
  @include border-radius($border-radius-base);
  display: flex;
  flex-direction: column;
  background-color: $background-color-base;
  box-shadow: $box-shadow-x-small, $box-shadow-base;
  height: 100%;
}

.ds-card-image {
  @include border-radius($border-radius-base, 'top');
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.ds-card-header {
  @include reset;
  @include border-radius($border-radius-base, 'top');
  background-color: $background-color-soft;
  padding: $space-small;

  .ds-card-has-image & {
    @include border-radius(0, 'top');
  }
}

.ds-card-content {
  @include reset;
  padding: $space-small;
  flex: 1 1 0;

  &:last-child:not(:only-child) {
    padding-bottom: $space-large;
  }
}

.ds-card-footer {
  @include reset;
  padding: $space-small;
  border-top: $border-size-base solid $border-color-softer;
}